<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id ="empDAO" class = "com.datageeks.dao.EmployeeDAO">
<property name="message" value="from the employee dao class setters :">
</property>
</bean>
<bean id ="empServiceId" class ="com.datageeks.service.EmployeeService">
<property name="employeeDAORef" ref="empDAO">
</property>
</bean>
<bean id ="empControllerId" class ="com.datageeks.controller.EmployeeController">
<property name="employeeServiceRef" ref="empServiceId">
</property>
</bean>
</beans>
